body {
    margin: 0;
    overflow: hidden;
    background-color: blue;
    animation: backgroundAnimation 10s ease infinite alternate; /* Adjust duration and animation properties */
}

@font-face {
            font-family: 'Ethereal';
            src: url('path/to/ethereal.woff') format('woff');
    
@keyframes backgroundAnimation {
    0% {
        background-color: blue;
    }
    50%{
        background-color: rgb(0, 179, 255);
    }
    100% {
        background-color: rgb(255, 245, 230);
    }
}

.container {
    background-color: rgb(255, 245, 230);
    border: 10px solid rgb(255, 245, 230);
    border-radius: 50%;
    width: 45%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.blue-text {
    color: blue; /* Set the text color to white */
    text-align: center;
    font-size: 3em;
    font-family: Avenir, sans-serif;
    margin: auto;
    margin-top: 10%;
}

.different-font {
    font-family: 'Ethereal', sans-serif;
    font-size: 2em;
    font-style: italic;
    transition: font-style 0.5s ease-in-out;
}

.different-font:hover {
    font-style: normal;
    transition: 0.3 ease;
}

.name-hover::after {
    content: " ";
    transition: 0.3 ease;
}

.name-hover:hover::after {
    content: " adriano boccone ";
    font-style: italic;
    font-size: 10px;
    transition: 0.3 ease;
}
.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    animation: rotate 5s infinite; animation: 
}

.image-button:focus {
    outline: none;
    box-shadow: none;
}

.image-button img {
    max-height: 60px;
    transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
}

.image-button:hover img {
    filter: invert(100%);
    border-radius: 20px;
    transition: filter 0.3s ease, border-radius 0.3s ease;
    background-image: url('images/animation-create.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.more-button{
    background: blue;
    color: rgb(255, 245, 230);
    text-decoration: none;
    border-radius: 25px;
    font-size: 35px;
    margin: auto;
    padding: 10px 10px;
    transition: 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
}
.more-button:hover{
    background: rgb(0, 179, 255);
    border-radius: 45px;
    color: blue;
}
#pdf-button{
    text-decoration:none;
    font-size: 35px; 
    padding: 10px;
    color: blue; 
    background: rgb(255, 245, 230); 
    border: 1px solid blue;
    transition: 0.3s ease, color 0.3s ease;
    border-radius: 25px;
    margin-left: 10px;
}
#pdf-button:hover{
    background: rgb(0, 179, 255);
    border: 1px solid rgb(0, 179, 255);
    border-radius: 50%;
    color: blue;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%; 
        max-width: none; 
        text-align: center; 
    }
    #pdf-button{
        font-size: 15px;
    }
    .more-button{
        font-size: 15px;
    }
    .blue-text {
    font-size: 5vw; 
    margin: auto;
    margin-top: 13%;
    width: 50%;
    text-align: center;
    }

    .different-font {
        font-size: 9vw; 
    }

    .image-button img {
        max-height: 40px;
    }
    .more-button{
        font-size: 20px;
}
